@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 400;
}

.contain {
    background-color:lightgrey;
    text-align: center;
    padding-bottom: 40px;
}

.menu {
    display: flex;
    width: 60%;
    padding: 0;
    margin: 0 auto;
}

.main-menu {
    list-style-type: none;
    text-transform: uppercase;
    width: 25%;
    text-align: center;
    color: #16a085;
    padding: 0;
}

.main-menu a {
    text-decoration: none;
    color: #16a085;
    padding: 1rem 0;
    width: 100%;
    display: inline-block;
    font-size: 12px;     
}

.main-photo img{
    width: 100%;
}

.description {
    margin: 0 10%;
}

.title {
    font-size: 2rem;
    text-transform: uppercase;
}

.btn {
    padding: 10px 30px;
    background-color: #16a085;
    color: white;
    border: none;
    border-radius: 5px;
}

.footer-text {
    text-align: right;
    padding: 1rem 0;
}